<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.otp.foodapp">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logodangnhap"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logodangnhap"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name="com.example.otp.foodapp.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.otp.foodapp.DangNhapActivity"/>
        <activity android:name="com.example.otp.foodapp.DangKyActivity" />
        <activity android:name="com.example.otp.foodapp.TrangChuActicity" />
        <activity android:name="com.example.otp.foodapp.ThemThucDonActivity" />

        <activity
            android:name="com.example.otp.foodapp.ThemLoaiThucDonActivity"
            android:label="@string/loaithucdon"
            android:theme="@style/PopUpActivity">
        </activity>
        <activity
            android:name="com.example.otp.foodapp.ThemBanAnActivity"
            android:label="@string/thembanan"
            android:theme="@style/PopUpActivity">
        </activity>
        <activity
            android:name="com.example.otp.foodapp.SoLuongActivity"
            android:label="@string/soluong"
            android:theme="@style/PopUpActivity">
        </activity>
        <activity android:name="com.example.otp.foodapp.ThanhToanActivity" />
        <activity
            android:name="com.example.otp.foodapp.SuaBanAnActivity"
            android:label="@string/sua"
            android:theme="@style/PopUpActivity">
        </activity>
    </application>

</manifest>